<a href="https://colab.research.google.com/github/Doodam/Python/blob/main/py05_list_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List comprehension(리스트 내포)

1~10 정수들을 순서대로 리스트에 저장: [1, 2, 3, ..., 9, 10]

In [ ]:
numbers = []
for x in range(1, 11):
    numbers.append(x)

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers = [x for x in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# [1, 4, 9, 16, ..., 81, 100]
squars = [x ** 2 for x in range(1, 11)]
squars

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# [0, 10) 범위의 난수 10개를 저장하는 리스트
import random

numbers = [random.randrange(10) for _ in range(10)]
numbers

[3, 5, 2, 6, 8, 2, 4, 2, 9, 6]

py05에 Ex1 ~ Ex5 연습문제를 list comprehension을 사용해서 작성.

* filtering

  [value for x in iterable if condition]

* mapping

  [value if condition else value2 for x in iterable]

# Ex1

In [ ]:

numbers = [random.randrange(1, 11) for _ in range(5)]
print(f'numbers = {numbers}')

total = 0
for x in numbers:
    total += x

print(f'total = {total}')

average = total / len(numbers)
print(f'average = {average}')

numbers = [5, 9, 10, 1, 9]
total = 34
average = 6.8

# Ex2

In [ ]:
numbers = [random.randrange(10, 100) for _ in range(10)]
print(f'numbers = {numbers}')

evens = [x for x in numbers if x % 2 == 0]
print(f'evens = {evens}')

odds = [x for x in numbers if x % 2]
print(f'odds = {odds}')

numbers = [71, 21, 58, 98, 78, 52, 67, 97, 62, 73]
evens = [58, 98, 78, 52, 62]
odds = [71, 21, 67, 97, 73]

# Ex3

In [ ]:
# x = 1
# is_positive = True if x > 0 else False   # 삼항 연산자

numbers = [random.randrange(-10, 11) for _ in range(10)]
print(f'numbers = {numbers}')

is_positive = [True if x > 0 else False for x in numbers]  # 삼항 연산자
print(f'is_positive = {is_positive}')

numbers = [10, -7, -5, -6, 0, -4, 0, 2, 7, -8]
is_positive = [True, False, False, False, False, False, False, True, True, False]

# Ex4

In [ ]:
gender_codes = [random.randrange(0, 2) for _ in range(10)]
print(f'gender_codes = {gender_codes}')

genders = ['Male' if x == 0 else 'Female' for x in gender_codes]
print(f'genders = {genders}')

gender_codes = [0, 1, 0, 1, 1, 0, 0, 0, 1, 1]
genders = ['Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female']

# Ex5

In [ ]:
numbers1 = [random.randrange(100) for _ in range(10)]
numbers2 = [random.randrange(100) for _ in range(10)]
print(f'numbers1 = {numbers1}')
print(f'numbers2 = {numbers2}')

multiplication = [x * y for x, y in zip(numbers1, numbers2)]
print(f'multiplication = {multiplication}')

subtraction = [x - y for x, y in zip(numbers1, numbers2)]
print(f'subtraction = {subtraction}')

numbers1 = [83, 66, 63, 27, 8, 56, 53, 27, 97, 6]
numbers2 = [70, 10, 94, 18, 27, 50, 15, 22, 53, 78]
multiplication = [5810, 660, 5922, 486, 216, 2800, 795, 594, 5141, 468]
subtraction = [13, 56, -31, 9, -19, 6, 38, 5, 44, -72]

In [ ]:
gender_codes = [1, 2, 1, 2, 3]
# 1 -> "M", 2 -> "F", 3 ->"Unknown" mapping
genders = ['M' if x == 1 else ('F' if x == 2 else 'Unknown') for x in gender_codes]

print(genders)

['M', 'F', 'M', 'F', 'Unknown']